<div class="widget card" data-id="{{ widget.id }}">

    <span class="handle card-label card-label-success">{{ widget.title }}</span>

    <div class="card-block">
        {{ widget.content|raw }}
    </div>

    <div class="card-corner card-corner-primary"></div>

</div>
