<div class="card">

    <div class="card-header">
        <h4 class="card-title">{{ widget.title }}</h4>
        <div class="text-muted">{{ widget.description }}</div>
    </div>

    <div class="card-block">
        {{ widget.content|raw }}
    </div>

</div>
