<div class="widget card card-cornered primary" data-id="{{ widget.id }}">

    <span class="handle card-label success">{{ widget.title }}</span>

    <div class="card-block">
        {{ widget.content|raw }}
    </div>

</div>
