{{ extends "theme::layouts/default" }}

{{ section "content" }}

<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
    <li><a href="#profile" data-toggle="tab">Profile</a></li>
    <li><a href="#messages" data-toggle="tab">Messages</a></li>
    <li><a href="#settings" data-toggle="tab">Settings</a></li>
    <li><a href="#home1" data-toggle="tab">Home</a></li>
    <li><a href="#profile1" data-toggle="tab">Profile</a></li>
    <li><a href="#messages1" data-toggle="tab">Messages</a></li>
    <li><a href="#settings1" data-toggle="tab">Settings</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home">...</div>
    <div class="tab-pane" id="profile">...</div>
    <div class="tab-pane" id="messages">...</div>
    <div class="tab-pane" id="settings">...</div>
    <div class="tab-pane active" id="home1">...</div>
    <div class="tab-pane" id="profile1">...</div>
    <div class="tab-pane" id="messages1">...</div>
    <div class="tab-pane" id="settings1">...</div>
</div>

{{ stop }}