#dashboard {

    .columns {
        min-height: 100%;

        .column {

            .placeholder {
                width: 100%;
                margin-bottom: 9px;
                display: inline-block;
                border: 2px dashed $gray;
                border-radius: $border-radius;
            }

            .widget {

                &.dragged {
                    opacity: 0.5;
                    z-index: 2001;
                }

                .handle {
                    cursor: move;
                }
            }
        }
    }
}
