<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">{{ trans(report.name) }}</span>
    </div>
    <div class="panel-body">
        {{ report.content }}
    </div>
</div>