<div class="panel panel-default">

    <div class="panel-heading">
        <span class="panel-title">{{ trans(options.title) }}</span>
    </div>

    <div class="panel-body">
        {{ content|raw }}Test
    </div>
    
</div>